*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;    
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin-inline: auto;
}

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)),url("bg_blur.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
}

/*  ===== NAVIGATION ===== */
.navigation {
    width: 100%;
    padding: 10px 0px;
}

.navigation .box-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(147, 75, 23);
}

/* NAVIGATION LEFT */
.navigation .box-nav .box:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.navigation .box-nav .box:nth-child(1) h1 {
    width: 15px;
}

/* NAVIGATION RIGHT */
.navigation .box-nav .box:nth-child(2) ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navigation .box-nav .box:nth-child(2) ul li {
    list-style: none;
    margin-left: 30px;
}

.navigation .box-nav .box:nth-child(2) ul li a {
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.5s ease;
}

.navigation .box-nav .box:nth-child(2) ul li a:hover {
    color: lightsalmon;
}

.navigation .box-nav .box:nth-child(2) ul li i {
    display: none;
}

/* NAVIGATION BAR */
.navigation .box-nav .box:nth-child(3) {
    display: none;
}


/* ===== FORM ===== */
form {
    display: inline-grid;
}
  
.box-login {
    width: 25%;
    height: 55%;
    background: white ;
    border-radius: 5px;
    padding: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.box-create {
    width: 30%;
    background: white ;
    border-radius: 5px;
    padding: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* HEADER FORM */
.login-header {
    text-align: center;
    font-size: 25px;
    padding: 12px;
    border-bottom: 1px solid black;
    color: black;
}
  
.login-body {
    margin-top: 0.5em;
    padding: 0.5em;
}
  
.form-login {
    width: 100%;
}

/* BUTTON */
.back {
    color: rgb(115, 115, 115);
    padding-top: 20px;
    opacity: 0.8;
}
  
.back:hover{
    opacity: 1;
    color: black;
    transition: all .5s ease-in-out;
}
  
.form-input {
    padding: 1em;
    border-radius: 5px;
    border: 1.5px solid black;
}
  
.form-label {
    color: black;
    padding: 0.5em;
    text-align: left;
    margin-top: 0.5em;
}
  
.btn-login {
    width: 100%;
    background-color: lightsalmon;
    border: none;
    padding: 1em;
    border-radius: 5px;
    margin-top: 2em;
    color: white;
    font-size: 14px;
    opacity: 0.8;
}
  
.btn-login:hover{
    opacity: 1;
    color: black;
    transition: all .5s ease-in-out;
}

.submit {
    width: 50%;
    background-color: lightsalmon;
    border: none;
    border-radius: 45px;
    margin-top: 2em;
    color: white;
    font-size: 14px;
    opacity: 0.8;
}
  
.submit:hover{
    opacity: 1;
    color: black;
    transition: all .5s ease-in-out;
}

.button {
    width: 45%;
    background-color: lightsalmon;
    border: none;
    padding: 1em;
    border-radius: 5px;
    margin-top: 2em;
    color: white;
    font-size: 14px;
    opacity: 0.8;
    text-decoration: none;
}
  
.button:hover{
    opacity: 1;
    color: black;
    transition: all .5s ease-in-out;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
}

.form-input input {
    text-decoration: none;
}

.form-input btn .button {
    text-decoration: none;
    margin: 0 auto;
}

.login-body p {
    text-align: center; color: black;
    padding-top: 10px;
}

.login-body p a {
    color: rgb(117, 24, 24);
    text-decoration: none;
}



/* ===== FOOTER ===== */
footer {
    height: 70px;
    letter-spacing: 0.7px;
    background-color: rgb(114 66 31);
}

footer p {
    padding: 25px;
    font-size: 15px;
    text-align: center;
    opacity: 0.7;
}

footer p a {
    color: white; 
    text-decoration: none;
}