* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    min-height: 100vh;
}


/* ===== SIDE BAR ===== */
.sidebar {
    position: fixed;
    background: rgb(114 66 31);
    color: white;
    width: 15vw;
    min-height: 150vh;
    display: flex;
    flex-direction: column;
}

.brand {
    height: 10vh;
    display: flex;
    align-items : center;
    justify-content: center;
    border-bottom: 2px solid lightgray;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}

.brand i {
    font-size: 20px;
}

.sidebar ul li {
    font-size: 24px;
    padding: 10px 40px;
    color: lightgrey;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}


/* ===== NAV HEADER ====== */
.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 10vh;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-bottom: 10px solid black;
}

.nav {
    width: 80%;
    display: flex;
    align-items: center;
}

.box-nav {
    margin-right: 5%;
}

.search {
    flex: 5;
    display: flex;
    justify-content: center;
}

.search input {
    border: none;
    background: white;
    padding: 10px;
    width: 30%;
}

.search button {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

label {
    align-items: center;
    display: flex;
    justify-content: center;
}

input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

input[type="checkbox"]:checked ~ .check:before {
    transform: translateX(-50px);
}

input[type="checkbox"]:checked ~ .check {
    background-color: white;
    box-shadow: 0 0 0 50000px black;
}

.check:before, .check:after {
    border-radius: 50%;
    content: '';
    height: 16px;
    position: absolute;
    top: 2px;
    transition: transform 0.5s ease;
    width: 16px;
}

.check:before {
    background-color: white;
    left: 2px;
}

.check {
    background-color: black;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    height: 20px;
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s ease-in,
                box-shadow 0.5s ease-in;    
}

.check i {
    size: 40px;
    color: black;
}


/* ===== CARD ===== */
.content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh ;
}

.card {
    width: 230px;
    height: 130px;
}

.content {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.box {
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    margin-left: 15vw;
    margin-right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
}

.title .btn, .payment .btn {
    background: #191919;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.title .btn:hover, .payment .btn:hover {
    color: #191919;
    background: grey;
    padding: 5px 10px;
    text-align: center;
}

table {
    padding: 10px;
}

th, td {
    text-align: left;
    padding: 8px;
}

label {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

input[type="checkbox"]:checked ~ .check:before {
    transform: translateX(-50px);
}

input[type="checkbox"]:checked ~ .check {
    background-color: white;
    box-shadow: 0 0 0 50000px black;
}

.check:before, .check:after {
    border-radius: 50%;
    content: '';
    height: 16px;
    position: absolute;
    top: 2px;
    transition: transform 0.5s ease;
    width: 16px;
}

.check:before {
    background-color: white;
    left: 2px;
}

.check {
    background-color: black;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    height: 20px;
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s ease-in,
                box-shadow 0.5s ease-in;    
}

.check i {
    size: 40px;
}


/* ===== FOOTER ===== */
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 70px;
    letter-spacing: 0.7px;
    background-color: rgb(114 66 31);
}

footer p {
    padding: 25px;
    font-size: 15px;
    text-align: center;
    opacity: 0.7;
    justify-content: space-around;
}

footer p a {
    color: white; 
    text-decoration: none;
}

/* ===== RESPONSIVE ===== */
@media screen and (max-width: 1050px) {
    .sidebar ul li {
        font-size: 18px;
    }
}

@media screen and (max-width: 940px) {
    .sidebar ul li span {
        display: none;
    }

    .sidebar {
        align-items: center;
    }

    .sidebar ul li i {
        font-size: 30px;
    }

    .sidebar ul li:hover {
        padding: 8px 38px;
    }
}

@media screen and (max-width: 536px) {
    brand h1 {
        display: none;
    }

    .brand i {
        font-size: 30px;
    }

    .cards {
        justify-content: center;
    }

    .sidebar ul li i {
        font-size: 20px;
    }
}